@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Droid+Serif:400,700,400italic|Pontano+Sans);

/** General **/

body {
    font-family: 'Droid Serif', Verdana, serif;
    font-size: 1.6em;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
a {
    text-decoration: none;
    color: #268c3f;
}
a:hover {
    color: #3BD861;
}
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}
img {
    max-width: 100%; 
}



/** Heading **/

header {
    width: 100%;
    padding: 2% 0;
    background-color: #363636;
    border-bottom: 7px solid #268c3f; 
}
#logo {
    margin-top: 0px;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 2.675em;
    color: #f5f5f5;
}
h1, h2, h3, blockquote, time {
    font-family: 'EB Garamond', Verdana, serif;
}
h1 {
    font-size: 2.2em;
    line-height: 1.1em;
}
h2 {
    font-size: 1.8em;
    line-height: 1.1em;
}



/** Navigation **/

nav {
    width: 100%;
}
nav ul {
    margin:0 0 10px 0;
    padding:0;
    list-style: none;
    text-align: center;
}
nav li {
    display: inline-block;
    padding: 5px;
}
nav li a {
    padding: 10px;
    color: #f5f5f5;
}
nav li a:hover {
    color: #268c3f;
}



/** Articles **/
#content {
    margin-top: 50px;   
}
#content article {
    padding: 75px 0 50px 0;
    border-bottom: 1px solid #e5e5e5;   
}
#content h1 {
    margin:0;
    padding: 0;
    text-align: center;
    color: #268c3f;
}
#content time {
    color: #828282;
    display: block;
    width: 100%;
    text-align: center;
}
#content p {
    padding: 5px 0;
}
#content ul {
    margin-left: 20px;    
}
#content ol {
    margin-left: 35px;   
}
#content blockquote {
    border-left: 5px solid #363636;
    padding: 20px 40px;
    background-color: #e5e5e5;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.6em;
}
#content img, #content iframe {
    display: block;
    width: 100%;
    margin: 25px auto;    
}
.img-border {
    text-decoration: none;  
}