@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Droid+Serif:400,700,400italic|Pontano+Sans);

/** General **/

body {
    font-family: 'Droid Serif', Verdana, serif;
    font-size: 1.6em;
    line-height: 1.3em;
}
a {
    text-decoration: none;   
}
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
img {
  max-width: 100%; 
}


/** Heading **/

header {
    width: 100%;
    padding: 2% 0;
    background-color: #363636;
    border-bottom: 7px solid #268c3f; 
}
#logo {
    margin-top: 0px;
    text-align: center;
    font-size: 2.675em;
    color: #f5f5f5; 
}
h1, h2, h3, blockquote, time {
    font-family: 'EB Garamond', Verdana, serif;
}
h1 {
    font-size: 2.2em;
    line-height: 1.1em;
}
h2 {
    font-size: 1.8em;
    line-height: 1.1em;
}