@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Droid+Serif:400,700,400italic);

/** General **/

body {
    font-family: 'Droid Serif', Verdana, serif;
    font-size: 1.4em;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
a {
    text-decoration: none;
    color: #268c3f;
}
a:hover {
    color: #3BD861;
}
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}
img {
    max-width: 100%; 
}



/** Heading **/

header {
    width: 100%;
    padding: 2% 0;
    background-color: #363636;
    border-bottom: 7px solid #268c3f; 
}
#logo {
    margin-top: 0px;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 2.675em;
    color: #f5f5f5;
}
h1, h2, h3, blockquote, time {
    font-family: 'EB Garamond', Verdana, serif;
}
h1 {
    font-size: 2.0em;
    line-height: 1.1em;
}
h2 {
    font-size: 1.6em;
    line-height: 1.1em;
}



/** Navigation **/

nav {
    width: 100%;
}
nav ul {
    margin:0 0 10px 0;
    padding:0;
    list-style: none;
    text-align: center;
}
nav li {
    display: inline-block;
    padding: 5px;
}
nav li a {
    padding: 10px;
    color: #f5f5f5;
}
nav li a:hover {
    color: #268c3f;
}



/** Articles **/
#content {
    margin-top: 50px;   
}
#content article {
    padding: 75px 0 50px 0;
    border-bottom: 1px solid #e5e5e5;   
}
#content h1 {
    margin:0;
    padding: 0;
    text-align: center;
    color: #268c3f;
}
#content time {
    color: #828282;
    display: block;
    width: 100%;
    text-align: center;
}
#content p {
    padding: 5px 0;
}
#content ul {
    margin-left: 20px;    
}
#content ol {
    margin-left: 35px;   
}
#content blockquote {
    border-left: 5px solid #363636;
    padding: 20px 40px;
    background-color: #e5e5e5;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.6em;
}
#content img, #content iframe {
    display: block;
    width: 100%;
    margin: 25px auto;    
}
.img-border {
    text-decoration: none;  
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 resolution */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pagination {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;   
}


/** Sidebar **/

#sidebar {
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 6.25%;
    border: 1px solid #d5d5d5;
    background-color: #e5e5e5;
}
#sidebar img {
    width: 100%;  
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}



/** Sidebar Form **/

input[type=text] {
    height: 1.8em;
    width: 100%;
    margin: 15px 0;
}
input[type=submit] {
    display: block;
    margin: 0 auto;
    padding: 15px;
    background-color: #268c3f;
    color: #e5e5e5;
    border: 0;
}

/** Footer **/

footer {
    width: 100%;
    margin: 75px 0 0 0;
    padding: 2% 0;
    background-color: #363636;
    border-top: 7px solid #268c3f;
}
footer p {
    color: #f5f5f5;
    font-size: .6em;
    text-align: center;
}

@media screen and (min-width: 700px){
    input[type=text] {
        width: 50%;
        margin: 4px 7% 0 0;
        float: left;
    }   
}
@media screen and (min-width: 940px) {

    #logo {
        width: 35%;
        margin-left: 15%;
        float: left;
        text-align: left;
    }
    
    nav {
        width: 45%;
        float: right;
        margin-right: 5%;
        margin-top: 45px;
        text-align: right;
    }
    nav ul li{
        font-size: 1.2em;
    }
    #sidebar .side-text {
        float: right;  
        width: 42%;
        margin:0;
        padding: 0;
        margin-top: -37px;
    }
    #sidebar img {
        float: left;
        width: 50%;
    }  
}


